<p> Enter Flickr User ID to get their photos</p>

<%= form_with url: "/show", method: :get do |form|%>
<%= form.label :flickr_user_id, "User ID"%>
<%= form.text_field :flickr_user_id%>
<%= form.submit "Show Photos"%>
<%end%>